.userList_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 65rem;
  max-width: 90%;
  margin: auto;
  min-height: 40vh;
  max-height: 70vh;
}

.list_header {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  background-color: #ff8e9e;
}
.user_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  overflow-y: scroll;
}
.empty {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-align: center;
}
.user_list::-webkit-scrollbar {
  width: 10px;
}
.user_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e5374e;
}
.user_list::-webkit-scrollbar-track {
  background-color: #f79bbf;
  border-radius: 10px;
}
.user {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 1rem;
  text-align: left;
  background-color: #f9b5d0;
  transition: all 1s;
}
.user:hover {
  background-color: #f79bbf;
  transform: translateX(-1rem);
}
